<?xml version="1.0" encoding="UTF-8" ?>


<launch>
    <include file="$(find-pkg-share task_manager_turtlesim)/button_server.launch"/>
    <node name="turtlesim" pkg="turtlesim" exec="turtlesim_node"  />
    <node name="turtlesim_tasks" pkg="task_manager_turtlesim" exec="turtlesim_task_server" namespace="">
        <param name="lib_path" value="$(env COLCON_PREFIX_PATH)/task_manager_turtlesim/lib"/>
    </node>
</launch>
